.navbar-brand {
    margin-right: auto;
    padding: .5em;
}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("peach_color_palette.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    background-color: peachpuff;
    color: rgb(214, 1, 65);
}

section {
    color:black;
    background-blend-mode: soft-light;
    background-color: papayawhip;
    z-index: 0;
    width: 100%;
    margin: 5px 5px;
    padding-top: 5px;
    border-style: solid;
    border-color: #b49300;
    border-width: 1px;
    padding-left: 5px;
    padding-bottom: 5px;
    word-wrap: break-word;
}

img {
    width: 150px;
    height: 150px;
    border: rgb(212, 0, 106);
    border-style: dashed;
}

.profile_pic.jpg {
    background: black;
    background-image: pink;
}
